.image {
  display: block;
  background-color: var(--bg);
  height: 264px;
  object-fit: contain;
}

.brand {
  font-size: 0.8em;
}

.rating {
  color: var(--star);
}

.heart {
  color: var(--light);
  position: absolute;
  top: 10px;
  left: 270px;
  opacity: 80%;
}

.media {
  position: relative;
  border-bottom: solid 1px var(--border);
}

.prices {
  display: flex;
  gap: 0.5em;
}

.deal {
  position: absolute;
  top: 230px;
  font-size: 0.8em;
}

.titles {
  min-height: 58px;
}

.link {
  color: var(--dark);
}
