.titles {
  min-height: 62px;
}

.title {
  font-size: 1rem;
}

.link {
  color: var(--text);
}

.subtitle {
  font-size: 0.8rem;
}

.rating {
  color: var(--star);
}

.prices {
  display: flex;
  gap: 0.5em;
}
