.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

.firstSection {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  @media (min-width: 768px) {
    flex-direction: row;
    max-width: 800px;
  }
}

.secondSection {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  @media (min-width: 768px) {
    flex-direction: column;
  }
}

.thirdSection {
  margin-top: 20px;
  @media (min-width: 768px) {
    padding-right: 20px;
  }
}

.image {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  border: 1px solid var(--light);
  border-radius: 4px;
}

.brand {
  font-size: 0.7rem;
}

.rating {
  color: var(--star);
}

.heart {
  color: var(--light);
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 80%;
}

.media {
  position: relative;
  background-color: var(--bg);
}

.prices {
  display: flex;
  gap: 10px;
}

.deal {
  position: absolute;
  bottom: 14px;
  left: 10px;
  font-size: 0.8rem;
}

.review {
  margin-top: 12px;
  border-bottom: 1px solid var(--border);
}

.nav-link {
  color: var(--dark);
}

.description {
  max-width: 500px;
}

.btns {
  display: flex;
  flex-direction: column;
  width: 120px;
  gap: 10px;
}

.reviewRating {
  display: flex;
}

.alert {
  position: absolute;
  top: 68px;
  right: 10;
  width: 320px;
  font-size: 0.8rem;
  @media (min-width: 768px) {
    width: 450px;
  }
}
