:root {
  --sans: 'Plus Jakarta Sans', system-ui, sans-serif;
  --heading: 'Montserrat', system-ui, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--sans);
  font-size: 1rem;
  letter-spacing: 0.3px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --text: #2d303b;
  --text-h: #121425;
  --bg: #f6f6f6;
  --border: #797c8d;
  --primary: #083a4f;
  --secondary: #a58d66;
  --success: #577717;
  --info: #407e8c;
  --warning: #ac5b2c;
  --danger: #88193a;
  --light: #eaeaea;
  --dark: #2f2f2f;
  --star: #fde047;
  --btn-hover: #072f41;

  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 32px 16px;
  background: var(--bg);
  flex: 1;
}

.black,
.white,
.yellow,
.green,
.blue,
.purple,
.pink,
.brown,
.beige {
  border: 1px solid #646464;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: 2px;
}

.black {
  background-color: #000000;
}

.white {
  background-color: #ffffff;
}

.yellow {
  background-color: #f6f612;
}

.green {
  background-color: #038103;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: #6908a1;
}

.pink {
  background-color: #c6209c;
}
.brown {
  background-color: #4c3228;
}

.beige {
  background-color: #e4d5b7;
}
