.navbar {
  background-color: var(--primary);
  justify-items: end;
}

.navbarItems {
  justify-content: end;
  align-items: center;
}

.navbar .navItems {
  margin-top: 10px;
  margin-left: 210px;
  gap: 10px;
  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: 0;
  }
}

.navItem {
  padding: 8px 16px;
}

.navLink {
  color: var(--dark);
  text-decoration: none;
  align-self: start;
}

.navLink:hover {
  color: var(--info);
}

.navbar .toggler {
  color: var(--primary);
  border: none;
}

.brandIcon {
  margin-left: 10px;
}

.menuIcon {
  color: var(--light);
  width: 36px;
  height: 36px;
}

.icon {
  width: 25px;
  height: 25px;
  margin: 0 6px 6px 18px;
  color: var(--light);
}

.navbar .navLink {
  position: relative;
  color: var(--light);
  font-size: 1.1rem;
}

.navbar .navLink:hover {
  color: var(--secondary);
}

.navbar .wishlistBadge,
.navbar .cartBadge {
  position: absolute;
  top: 15px;
  left: 34px;
  padding: 3px 4px;
  font-size: 0.6rem;
  @media (min-width: 768px) {
    top: 15px;
    left: 34;
  }
}

.btn {
  border: none;
  background-color: var(--primary);
  padding: 0;
}
