.navbar {
  background-color: var(--primary);
  justify-items: end;
}

.navItem {
  padding: 8px 16px;
}

.navbarItems {
  justify-content: end;
}

.nav-link {
  color: var(--dark);
}

.nav-link:hover {
  color: var(--info);
}

.navbar .toggler {
  color: var(--primary);
  border: none;
}

.navbar .navItems {
  margin-left: 210px;
  @media (min-width: 768px) {
    margin-left: 0;
  }
}

.brandIcon {
  margin-left: 10px;
}

.menuIcon {
  color: var(--light);
  width: 36px;
  height: 36px;
}

.icon {
  width: 25px;
  height: 25px;
  margin: 0 6px 6px 18px;
  color: var(--light);
}

.navbar .navLink {
  position: relative;
  color: var(--light);
  font-size: 1.1rem;
}

.navbar .navLink:hover {
  color: var(--secondary);
}

.navbar .wishlistBadge {
  position: absolute;
  top: 20px;
  left: 35px;
  padding: 3px 4px;
  font-size: 0.6rem;
  @media (min-width: 768px) {
    left: 40;
    right: 70px;
  }
}

.navbar .cartBadge {
  position: absolute;
  top: 20px;
  left: 35px;
  padding: 3px 4px;
  font-size: 0.6rem;
  @media (min-width: 768px) {
    left: 39;
    right: 43px;
  }
}

.btn {
  border: none;
  background-color: var(--primary);
  padding: 0;
}

/* .btn:hover {
  border: none;
  background-color: var(--btn-hover);
  padding: 0;
} */
