.filterContainer {
  padding-left: 0;
  padding-right: 0;
}

.filterToggle {
  display: flex;
  background-color: var(--primary);
  height: 52px;
  align-content: center;
  justify-content: center;
  margin-top: 15px;
}

.filterBtn {
  color: var(--light);
  justify-self: center;
  align-self: center;
  padding-left: 12px;
}

.rating {
  color: var(--star);
}

.applyFilterBtn {
  background-color: var(--primary);
}

.applyFilterBtn:hover {
  border: none;
  background-color: var(--btn-hover);
}
