.filterContainer {
  padding-right: 0;
}

.filterToggle {
  display: flex;
  background-color: var(--primary);
  height: 52px;
  align-content: center;
  justify-content: center;
  margin-top: 15px;
}

.filterBtn {
  display: flex;
  gap: 5px;
  color: var(--light);
  justify-items: center;
  align-items: center;
}

.filterIcon {
  margin-top: 3px;
}

.accordionHeader {
  color:;
}

.rating {
  color: var(--star);
}

.applyFilterBtn {
  background-color: var(--primary);
}

.applyFilterBtn:hover {
  border: none;
  background-color: var(--btn-hover);
}
