.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: center;
  gap: 2em;
}

.pagination {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
}

.listPagination {
}
