.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: center;
  gap: 2em;
}

.pagination {
  max-width: 100%;
  flex-grow: 1;
  justify-content: center;
  grid-column: 1 / -1;
}

.paginationItem {
  text-align: center;
  flex: 1;
}

.loadingIcon,
.searchIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.searchForm {
  grid-column: 1 / -1;
  grid-row: 1;
}

.searchFormControl:focus {
  box-shadow: none;
  border-color: var(--border);
}
