.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: center;
  gap: 2em;
}

.searchFilterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingIcon,
.searchIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.searchForm {
  width: 86%;
}

.searchFormControl:focus {
  box-shadow: none;
  border-color: var(--border);
}

.pagination {
  max-width: 100%;
  flex-grow: 1;
  justify-content: center;
  grid-column: 1 / -1;
}

.paginationItem {
  text-align: center;
  flex: 1;
}

.searchPreview {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border);
  background-color: var(--bg);
  z-index: 3;
  top: 100%;
}

.link {
  color: var(--dark);
  text-decoration: none;
}

.previewItem {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: solid 1px var(--border);
  padding: 5px;
}

.previewItem:hover {
  background-color: var(--secondary);
}

.resultText {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
